blockquote {
	white-space: pre-line;
}

.middle {
	vertical-align: middle;
}

.text-right {
	text-align: right;
}

.margin-top-5 {
	margin-top: 5px;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}

#content {
	margin-bottom: 15px;
}