<div class="alert alert-warning delete-confirm" style="display:none">
	<h4>Are you sure you want to delete this record?</h4>
	<p>You will not be able to undo this operation</p>
	<p>
		<a class="btn btn-danger removeConfirm">Yes</a>
		<a class="btn btn-default removeCancel">Cancel</a>
	</p>
</div>
<div class="control-buttons">
	<a class="btn btn-primary save">Save</a>
	<a class="btn btn-success complete">Complete</a>
	<div class="pull-right">
		<a class="btn btn-danger remove">Delete</a>
		<a class="btn btn-default" href="<%= backUri %>">Back</a>
	</div>
</div>