<div class="jumbotron">
	<h1>Welcome!</h1>
	<p>Welcome to workflow administration. Use this tool to configure and test the workflow engine.</p>
	<p>
		<a href="#model/list" class="btn btn-primary btn-lg" role="button">View Models</a>
		<a href="#process/list" class="btn btn-primary btn-lg" role="button">View Processes</a>
		<a href="#model/add" class="btn btn-success btn-lg" role="button">Add Model</a>
		<a href="#process/add" class="btn btn-success btn-lg" role="button">Add Process</a>
	</p>
</div>